/* =======================
     ESTILOS GERAIS E LAYOUT
     ======================= */

.container-jogo-cruzadas {
  padding: 20px;
  max-width: 95%;
  margin: 0 auto;
  border-radius: 20px;
}

.col-litle {
  align-content: center;
}

.li-dicas {
  padding: 6px;
}

/* =======================
     grade
     ======================= */

.crossword-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  max-width: 90vw;
  overflow-x: auto;
}

.cw-row {
  display: flex;
  justify-content: center;
}

.cw-cell {
  border: 1px solid #aeccee;
  position: relative;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
}

.blocked {
  background-color: #156349;
}

.cw-clue-number {
  position: absolute;
  top: 0;
  left: 3px;
  font-size: clamp(8px, 2vw, 12px);
  color: #000;
}

.cw-cell input {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  font-size: clamp(14px, 3vw, 18px);
  /* Ajusta o tamanho da fonte */
  background-color: transparent;
}



/* =======================
     ÁREA DE DICAS
     ======================= */
.clues-section {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.clues-section ul {
  list-style-type: none;
  padding: 0;
}

.clues-section strong {
  color: #005f9e;
}

#btnVerificar {
  width: 100%;
  padding: 2%;
  background-color: #00cd8b;
  color: #000;
  border: 2px solid #333;
  border-radius: 20px;
  font-size: 2rem;
}

#btnVerificar:hover {
  background-color: #dceeff;
  color: #000;
  border: 2px solid #00cd8b;
}

input.correct {
  background-color: #c8ffc8;
}

input.incorrect {
  background-color: #ffc8c8;
}